version: "3.9"
services:
  nginx:
    image: darelab-pull.docker.imsi.athenarc.gr/mxydas/qr2t/nginx
    container_name: qr2t_nginx
    restart: unless-stopped
    ports:
      - "8081:8081"
    networks:
      - app
      - traefik
    depends_on:
      - front
    labels:
      - traefik.enable=true # enable this docker on traefik
      - traefik.http.routers.qr2t.rule= Host(`darelab.imsi.athenarc.gr`) && PathPrefix(`/qr2t`) # url
      - traefik.http.routers.qr2t.middlewares=redirect_to_https@file # add the middleware to redirect to https

  front:
    image: darelab-pull.docker.imsi.athenarc.gr/mxydas/qr2t/front
    container_name: qr2t_front
    restart: unless-stopped
#    ports:
#      - "8501"
#    environment:
#      - STREAMLIT_SERVER_ADDRESS=https://darelab.imsi.athenarc.gr/qr2t
    networks:
      - app
    depends_on:
      - back


  back:
    image: darelab-pull.docker.imsi.athenarc.gr/mxydas/qr2t/back
    container_name: qr2t_back
    restart: unless-stopped
#    extra_hosts:
#      - "host.docker.internal:host-gateway"
    ports:
      - "4557"
    networks:
      - app
    volumes:
      - /home/mxydas/qr2t/storage:/app/storage

networks:
  app:
      driver: bridge
  traefik:
    name: traefik
    external: true

volumes:
  static: {}
