version: "3.9"
services:
  nginx:
    image: darelab-pull.docker.imsi.athenarc.gr/mxydas/qr2t/nginx
    container_name: qr2t_nginx
    restart: unless-stopped
    expose:
      - 80
    networks:
      - app
      - traefik
    depends_on:
      - front
    labels:
      - traefik.enable=true # enable this docker on traefik
      - traefik.http.routers.qr2t.rule= Host(`darelab.imsi.athenarc.gr`) && PathPrefix(`/qr2t`) # url
      - traefik.http.routers.qr2t.middlewares=redirect_to_https@file # add the middleware to redirect to https

  front:
    image: darelab-pull.docker.imsi.athenarc.gr/mxydas/qr2t/front
    container_name: qr2t_front
    restart: unless-stopped
    networks:
      - app
    depends_on:
      - back


  back:
    image: darelab-pull.docker.imsi.athenarc.gr/mxydas/qr2t/back
    container_name: qr2t_back
    restart: unless-stopped
    ports:
      - "4557"
    networks:
      - app
    volumes:
      - /home/mxydas/qr2t/storage:/app/storage
    labels:
      - traefik.enable=true # enable this docker on traefik
      - traefik.http.routers.qr2t_back.rule= Host(`darelab.imsi.athenarc.gr`) && PathPrefix(`/qr2t_back`) # url
      - traefik.http.routers.qr2t_back.middlewares=redirect_to_https@file # add the middleware to redirect to https


networks:
  app:
      driver: bridge
  traefik:
    name: traefik
    external: true

volumes:
  static: {}
