version: "3.9"
services:
  front:
    build: app/frontend/
    ports:
      - "8501:8501"
    networks:
      - app
    depends_on:
      - back
  back:
    build: .
    ports:
      - "4557:4557"
    networks:
      - app
    volumes:
      - /home/mikexydas/PycharmProjects/Data2Text/storage:/app/storage
#      - /home/mikexydas/.cache:/app/.cache
networks:
  app:
      driver: bridge
