version: "3.9"
services:
  front:
    image: darelab-pull.docker.imsi.athenarc.gr/mxydas/qr2t/front
    container_name: qr2t_front
    restart: unless-stopped
    ports:
      - "8501"
    environment:
      - STREAMLIT_SERVER_ADDRESS=0.0.0.0
      - STREAMLIT_ENABLE_CORS=false
    networks:
      - app
      - traefik
    depends_on:
      - back
    labels:
      - traefik.enable=true # enable this docker on traefik
      - traefik.http.routers.qr2t.rule= Host(`darelab.imsi.athenarc.gr`) && PathPrefix(`/qr2t`) # url
      - traefik.http.routers.qr2t.middlewares=redirect_to_https@file # add the middleware to redirect to https
  back:
    image: darelab-pull.docker.imsi.athenarc.gr/mxydas/qr2t/back
    container_name: qr2t_back
    restart: unless-stopped
#    extra_hosts:
#      - "host.docker.internal:host-gateway"
    ports:
      - "4557"
    networks:
      - app
    volumes:
      - /home/mxydas/qr2t/storage:/app/storage

networks:
  app:
      driver: bridge
  traefik:
    name: traefik
    external: true

volumes:
  static: {}
