MODEL:
  MAX_INPUT_TOKENS: 512
  MAX_OUTPUT_TOKENS: 64
  TOKENIZER_NAME: "t5-small"
  PRETRAINED_MODEL_NAME: "t5-small"
  PATH_TO_CHECKPOINT: "TO BE FILLED"

SOLVER:
  OPTIMIZER_NAME: "AdaFactor"
  BASE_LR: 0.001

WANDB:
  RUN_NAME: "cordis"
  GROUP: "No column mixing | CI | ARIS | T5-small | Pretrain | QR2T"
  MODE: "online"
  NOTES: ""

DATASET:
  VALIDATION: "storage/datasets/compact_input/cordis/curated_cordis_with_query.json"
  EVALUATION: "storage/datasets/compact_input/cordis/curated_cordis_with_query.json"
  TRAIN: "storage/datasets/compact_input/totto/filtered_sampled/train.json"

DATALOADER:
  NUM_WORKERS: 11

INPUT:
  TRAIN_BATCH_SIZE: 8
  TEST_BATCH_SIZE: 8
