name: QR2TAppWorkflow

# Controls when the workflow will run
on:
  # Triggers the workflow on push
  push:
    branches: [ master ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

env:
  DOCKER_REGISTRY: darelab.docker.imsi.athenarc.gr
  DOCKER_USER: builder
  DOCKER_REPO_FRONT: mxydas/qr2t/front
  DOCKER_REPO_BACK: mxydas/qr2t/back
  DOCKER_REPO_NGINX: mxydas/qr2t/nginx

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "ci"
  qr2t-app-ci:
    # The type of runner that the job will run on
    runs-on: [self-hosted]

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - uses: actions/checkout@v2

      - name: Import Secrets
        uses: hashicorp/vault-action@v2.5.0
        with:
          method: jwt
          url: https://vault.athenarc.gr:8200
          role: github_repo_athenarc_data2text
          secrets: |
            secret/data/docker/registries/darelab/builder password | DARELAB_DOCKER_PASSWORD_BUILDER ;
            secret/data/ssh/darelab/ci private | DARELAB_CI_SSH_PRIVATE_KEY ;
            secret/data/ssh/darelab/ci public | DARELAB_CI_SSH_PUBLIC_KEY ;

      - name: Login to ATHENA registry
        uses: docker/login-action@v1
        with:
          registry: ${{ env.DOCKER_REGISTRY }}
          username: ${{ env.DOCKER_USER }}
          password: ${{ secrets.DARELAB_DOCKER_PASSWORD_BUILDER }}

      - name: Build and push front
        id: docker_build_front
        uses: docker/build-push-action@v3
        with:
          context: ./app/frontend/
          push: true
          tags: ${{ env.DOCKER_REGISTRY }}/${{ env.DOCKER_REPO_FRONT }}:latest
          file: ./app/frontend/Dockerfile

      - name: Build and push back
        id: docker_build_back
        uses: docker/build-push-action@v3
        with:
          context: .
          push: true
          tags: ${{ env.DOCKER_REGISTRY }}/${{ env.DOCKER_REPO_BACK }}:latest

      - name: Build and push nginx
        id: docker_build_nginx
        uses: docker/build-push-action@v3
        with:
          context: ./app/nginx/
          push: true
          tags: ${{ env.DOCKER_REGISTRY }}/${{ env.DOCKER_REPO_NGINX }}:latest

      - name: copy file via ssh key
        uses: appleboy/scp-action@v0.1.4
        with:
          host: darelab.athenarc.gr
          username: ci
          key: ${{ env.DARELAB_CI_SSH_PRIVATE_KEY }}
          source: docker-compose-qr2t.yml
          target: /data/ci/${{ env.DOCKER_REPO }}/

      - name: executing remote ssh commands using password
        uses: appleboy/ssh-action@v0.1.10
        with:
          host: darelab.athenarc.gr
          username: ci
          key: ${{ env.DARELAB_CI_SSH_PRIVATE_KEY }}
          script: |
            docker system prune -af
            docker compose -f /data/ci/${{ env.DOCKER_REPO }}/docker-compose-qr2t.yml pull
            docker compose -f /data/ci/${{ env.DOCKER_REPO }}/docker-compose-qr2t.yml up -d
